<%= form_for [@fes, @participation] do |f| %>
  <% if @participation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@participation.errors.count, "error") %> prohibited this participation from being saved:</h2>

      <ul>
      <% @participation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fes_id %><br>
    <%= f.text_field :fes_id %>
  </div>
  <div class="field">
    <%= f.label :teamName %><br>
    <%= f.text_field :teamName %>
  </div>
  <div class="field">
    <%= f.label :TwitterID %><br>
    <%= f.text_field :TwitterID, :value => current_user.username %>
  </div>
  <div class="field">
    <%= f.label :NNID %><br>
    <%= f.text_field :NNID %>
  </div>
  <div class="field">
    <%= f.hidden_field :UserID, :value => current_user.uid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
