<p id="notice"><%= notice %></p>

<p>
  <strong>Fesname:</strong>
  <%= @fe.fesName %>
</p>

<p>
  <strong>Adminname:</strong>
  <%= @fe.adminName %>
</p>

<p>
  <strong>Admintwitterid:</strong>
  <%= @fe.adminTwitterID %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fe.description %>
</p>

<p>
  <strong>Rule:</strong>
  <%= @fe.rule %>
</p>

<p>
  <strong>Limitnumberofteam:</strong>
  <%= @fe.limitNumberOfTeam %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @fe.startDate %>
</p>

<p>
  <strong>Registrationdeadline:</strong>
  <%= @fe.registrationDeadline %>
</p>

<p>
  <strong>Admincommunityname:</strong>
  <%= @fe.adminCommunityName %>
</p>

<p>
  <strong>Admincommunityurl:</strong>
  <%= @fe.adminCommunityURL %>
</p>

<p>
  <strong>Createdate:</strong>
  <%= @fe.createDate %>
</p>

<%= link_to 'Edit', edit_fe_path(@fe) %> |
<%= link_to 'Back', fes_path %>
