<%= form_for [@fes, @table] do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fes_id %><br>
    <%= f.text_field :fes_id %>
  </div>
  <div class="field">
    <%= f.label :teamName %><br>
    <%= f.text_field :teamName %>
  </div>
  <div class="field">
    <%= f.label :UserID %><br>
    <%= f.text_field :UserID %>
  </div>
  <div class="field">
    <%= f.label :teamNumber %><br>
    <%= f.number_field :teamNumber %>
  </div>
  <div class="field">
    <%= f.label :seedNumber %><br>
    <%= f.number_field :seedNumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
