<p id="notice"><%= notice %></p>

<h1>Listing Tables</h1>

<p>今はDB使ってない</p>

<table>
  <thead>
    <tr>
      <th>Fes</th>
      <th>Teamname</th>
      <th>Userid</th>
      <th>Teamnumber</th>
      <th>Seednumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.fes %></td>
        <td><%= table.teamName %></td>
        <td><%= table.UserID %></td>
        <td><%= table.teamNumber %></td>
        <td><%= table.seedNumber %></td>
        <td><%= link_to 'Show', fes_table_path(@fes, table) %></td>
        <td><%= link_to 'Edit', edit_fes_table_path(@fes, table) %></td>
        <td><%= link_to 'Destroy', fes_table_path(@fes, table), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table', new_fes_table_path %>

<p>トーナメント表イメージ</p>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["orgchart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
  var data = new google.visualization.DataTable();
  data.addColumn("string", "Name");
  data.addColumn("string", "Parent");
  data.addRows([
    [{v:'top', f:'winner'}, ''],
    [{v:'semi1', f:'best2-1'}, 'top'],
    [{v:'quater1', f:'best4-1'}, 'semi1'],
    [{v:'best8-1', f:'team 1'}, 'quater1'],
    [{v:'best8-2', f:'team 2'}, 'quater1'],
    [{v:'quater2', f:'best4-2'}, 'semi1'],
    [{v:'best8-3', f:'team 3'}, 'quater2'],
    [{v:'best8-4', f:'team 4'}, 'quater2'],
    [{v:'semi2', f:'best2-2'}, 'top'],
    [{v:'quater3', f:'best4-3'}, 'semi2'],
    [{v:'best8-5', f:'team 5'}, 'quater3'],
    [{v:'best8-6', f:'team 6'}, 'quater3'],
    [{v:'quater4', f:'best4-4'}, 'semi2'],
    [{v:'best8-7', f:'team 7'}, 'quater4'],
    [{v:'best8-8', f:'team 8'}, 'quater4'],
  ]);
  var chart = new google.visualization.OrgChart(document.getElementById("chart_div"));
  chart.draw(data, {allowHtml: true});
}
</script>
<div id="chart_div" style="width: 100%;"></div>
