<%= form_for [@fes, @match] do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fes_id %><br>
    <%= f.text_field :fes_id %>
  </div>
  <div class="field">
    <%= f.label :round %><br>
    <%= f.number_field :round %>
  </div>
  <div class="field">
    <%= f.label :battleID %><br>
    <%= f.number_field :battleID %>
  </div>
  <div class="field">
    <%= f.label :leftUserID %><br>
    <%= f.text_field :leftUserID %>
  </div>
  <div class="field">
    <%= f.label :leftTeamName %><br>
    <%= f.text_field :leftTeamName %>
  </div>
  <div class="field">
    <%= f.label :leftTwitterID %><br>
    <%= f.text_field :leftTwitterID %>
  </div>
  <div class="field">
    <%= f.label :leftNNID %><br>
    <%= f.text_field :leftNNID %>
  </div>
  <div class="field">
    <%= f.label :rightUserID %><br>
    <%= f.text_field :rightUserID %>
  </div>
  <div class="field">
    <%= f.label :rightTeamName %><br>
    <%= f.text_field :rightTeamName %>
  </div>
  <div class="field">
    <%= f.label :rightTwitterID %><br>
    <%= f.text_field :rightTwitterID %>
  </div>
  <div class="field">
    <%= f.label :rightNNID %><br>
    <%= f.text_field :rightNNID %>
  </div>
  <div class="field">
    <%= f.label :resultLeftWins %><br>
    <%= f.number_field :resultLeftWins %>
  </div>
  <div class="field">
    <%= f.label :resultRightWins %><br>
    <%= f.number_field :resultRightWins %>
  </div>
  <div class="field">
    <%= f.label :leftWinsReportedByLeft %><br>
    <%= f.number_field :leftWinsReportedByLeft %>
  </div>
  <div class="field">
    <%= f.label :rightWinsReportedByLeft %><br>
    <%= f.number_field :rightWinsReportedByLeft %>
  </div>
  <div class="field">
    <%= f.label :leftWinsReportedByRight %><br>
    <%= f.number_field :leftWinsReportedByRight %>
  </div>
  <div class="field">
    <%= f.label :rightWinsReportedByRight %><br>
    <%= f.number_field :rightWinsReportedByRight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
