<p id="notice"><%= notice %></p>

<p>
  <strong>Fes:</strong>
  <%= @match.fes %>
</p>
<p>
  <strong>Round:</strong>
  <%= @match.round %>
</p>
<p>
  <strong>battleID:</strong>
  <%= @match.battleID %>
</p>
<p>
  <strong>leftUserID:</strong>
  <%= @match.leftUserID %>
</p>
<p>
  <strong>leftTeamName:</strong>
  <%= @match.leftTeamName %>
</p>
<p>
  <strong>leftTwitterID:</strong>
  <%= @match.leftTwitterID %>
</p>
<p>
  <strong>leftNNID:</strong>
  <%= @match.leftNNID %>
</p>
<p>
  <strong>rightUserID:</strong>
  <%= @match.rightUserID %>
</p>
<p>
  <strong>rightTeamName:</strong>
  <%= @match.rightTeamName %>
</p>
<p>
  <strong>rightTwitterID:</strong>
  <%= @match.rightTwitterID %>
</p>
<p>
  <strong>rightNNID:</strong>
  <%= @match.rightNNID %>
</p>
<p>
  <strong>resultLeftWins:</strong>
  <%= @match.resultLeftWins %>
</p>
<p>
  <strong>resultRightWins:</strong>
  <%= @match.resultRightWins %>
</p>
<p>
  <strong>leftWinsReportedByLeft:</strong>
  <%= @match.leftWinsReportedByLeft %>
</p>
<p>
  <strong>rightWinsReportedByLeft:</strong>
  <%= @match.rightWinsReportedByLeft %>
</p>
<p>
  <strong>leftWinsReportedByRight:</strong>
  <%= @match.leftWinsReportedByRight %>
</p>
<p>
  <strong>rightWinsReportedByRight:</strong>
  <%= @match.rightWinsReportedByRight %>
</p>

<%= link_to 'Edit', edit_fes_match_path(@fes, @match) %> |
<%= link_to 'Back', fes_matches_path %>
