<!DOCTYPE html>
<html>
<head>
  <title>Ikatnt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Ikatnt</a> -->
      <%= link_to "Inatnt", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" pb-autologin="true" autocomplete="off">
        <!-- <button type="submit" class="btn btn-success" pb-role="submit">Sign in</button> -->
        <% if user_signed_in? %> 
          <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
          <!-- *_path はUserモデルを作成したときに、deviseにより自動で作成されてますので、rake routesで確認できます -->
          <a class="white" href="https://twitter.com/<%= current_user.username %>" target="_blank">Logged in as <strong><%= current_user.username %></strong>.</a>
          <%= link_to "マイページ", mypage_path, class: "btn btn-success" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-success btn-logout" %>
        <% else %>
          <%= link_to "Twitterでログイン", user_omniauth_authorize_path(:twitter), {:class => "btn btn-success btn-login"} %>
        <% end %>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="container">
<div class="starter-template">
<%= yield %>
</div>
</div>
</body>
</html>
